extends base 
include mixins/video

block content 
    h1 Searching: #{keyword}...
    if errMsg 
        span=errMsg
    each video in videos
        +videoBlock(video)
    else 
        p Sorry, no results found for #{keyword}